<div class="row">
        <div class="column">  
          <mat-card class="example-card" style="padding: 2%; margin: 5%;">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Infosys</mat-card-title>
              <mat-card-subtitle>Infosys Cobalt - Accelerating Enterprise Cloud Journey</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://www.infosys.com/content/dam/infosys-web/en/global-resource/media-resources/infosys-nyn-tagline-jpg.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Infosys (NYSE: INFY), a global leader in next-generation digital services and consulting, today launched Infosys Cobalt - a set of services, solutions, and platforms that acts as a force multiplier for cloud-powered enterprise transformation.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Read More</button>
            </mat-card-actions>
          </mat-card>
          </div>

          <div class="column">  
            <mat-card class="example-card" style="padding: 2%; margin: 5%;">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Cognizant</mat-card-title>
                <mat-card-subtitle>Technology must not only support your business. It must advance it</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F533835%2Fctsh-logo.png&w=1200&h=630&op=resize" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  Together, let’s make your products smarter. Your customer experiences more exceptional. Your people more productive. Your processes more profitable. And your systems more powerful.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>Read More</button>
              </mat-card-actions>
            </mat-card>
            </div>

            <div class="column">  
              <mat-card class="example-card" style="padding: 2%; margin: 5%;">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Capgemini</mat-card-title>
                  <mat-card-subtitle>consulting Technology Outsourcing</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://i.ytimg.com/vi/kTlvxuuRWdE/maxresdefault.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    A global leader in consulting, technology services and digital transformation, Capgemini is at the forefront of innovation to address the entire breadth of clients’ opportunities in the evolving world of cloud, digital and platforms.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Read More</button>
                </mat-card-actions>
              </mat-card>
              </div>
</div>